@use "../utils/" as *;

.single-page-container {
  color: $white;
  margin: 5rem 0;
  padding: 0 3rem;

  @include desktop {
    width: min(100%, 100.5rem);
    display: grid;
    justify-content: center;
    margin: 5rem auto;
    grid-template-columns: 0.4fr 0.6fr;
  }

  .item-poster {
    width: min(90%, 30rem);
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .text-side {
    width: min(80%, 50rem);
    margin: 0 auto;

    .title,
    .tagline {
      display: flex;
      justify-content: center;
      text-align: center;

      @include desktop {
        text-align: left;
        justify-content: start;
        margin: 0;
        margin-bottom: 0.5rem;
      }
    }

    h3 {
      margin-bottom: 1rem;
    }

    .rating-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      margin-bottom: 2rem;

      @include desktop {
        justify-content: start;
      }

      .stars-container {
        display: flex;
        align-items: center;

        img {
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(11deg)
            brightness(109%) contrast(101%);
        }
      }
    }

    .item-info {
      width: min(100%, 34.9rem);
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      margin: 0 auto;
      margin-bottom: 2rem;

      @include desktop {
        margin: 0;
        margin-bottom: 2rem;
      }

      .item-info-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include desktop {
          align-items: start;
        }

        .item-info-title {
          opacity: 0.7;
        }
      }
    }

    .genres-container {
      margin-bottom: 2rem;

      .genre-elements-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;

        .genre-element {
          background: $white;
          color: $background;
          padding: 0.3em 0.8em;
          border-radius: 0.8em;
          font-weight: 500;
        }
      }
    }

    .synopsis-container {
      margin-bottom: 2rem;
    }

    .casts-container {
      margin-bottom: 3rem;

      .cast-elements-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        .cast-element {
          border: 0.2rem solid $white;
          padding: 0.3em 0.8em;
          border-radius: 0.4em;
          font-weight: 300;
        }
      }
    }

    .item-links-container {
      display: flex;
      justify-content: center;
      gap: 2rem;

      @include desktop {
        justify-content: start;
      }

      .home-page-link {
        display: flex;
        align-items: center;
        gap: 1rem;
        text-decoration: none;
        color: $white;
        background: $blue;
        padding: 0.4em 1em;
        border-radius: 0.4em;

        img {
          width: 2rem;
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(11deg)
            brightness(109%) contrast(101%);
        }
      }
      .imdb-link {
        display: flex;
        align-items: center;
        gap: 1rem;
        text-decoration: none;
        color: $white;
        background: $blue;
        padding: 0.4em 1em;
        border-radius: 0.4em;

        img {
          width: 2rem;
        }
      }
    }
  }
}
