@use "utils/" as *;
@use "stylesComponents/" as *;
@use "singlePageStyle/" as *;
@use "categoryPage/" as *;

main {
  margin: 0 auto;
  display: grid;
  min-height: 100vh;
  grid-template-rows: repeat(2, auto) 1fr;

  @include desktop {
    width: min(90%, 124rem);
    grid-template-columns: 10.2rem 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 4rem;
    margin: 3rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;

    nav {
      grid-column: 1;
      grid-row: 1 / span 2;
    }
  }

  // this is each section's header
  .section-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: $white;
    margin-bottom: 2rem;
    padding: 0 1.5rem;
    row-gap: 1rem;

    h1 {
      margin-right: 2rem;
      font-weight: 300;
    }

    .header-category {
      margin-right: auto;
      border: 0.2rem solid $white;
      padding: 0.2em 0.5em;
      border-radius: 0.5em;
      font-weight: 300;

      &.header-category-tv {
        background: $white;
        color: $background;
        font-weight: 500;
      }
    }

    button {
      background: transparent;
      color: $blue;
      border: none;
      text-transform: uppercase;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
