@use "../utils" as *;

.home-section {
  .display-map {
    display: grid;
    grid-template-columns: auto;
    align-items: start;
    justify-content: center;
    row-gap: 4rem;
    column-gap: 2.5rem;
    padding: 0 2rem;

    @include tablet {
      grid-template-columns: repeat(2, auto);
    }

    @include desktop {
      grid-template-columns: repeat(3, auto);
      padding: 0rem;
    }

    .home-section-slide {
      width: min(100%, 36.5rem);
      color: $white;
      margin: 0 auto;

      @include tablet {
        width: min(100%, 50rem);
      }

      .slide-cover {
        width: 100%;
        margin-bottom: 1rem;
        border-radius: 1em;
      }

      .info {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.562);
      }

      .title {
        font-size: 1.8rem;
      }
    }
  }
}
