@use "../utils" as *;

.home-section {
  .display-map {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    row-gap: 4rem;
    margin: 0 auto;
    padding: 0 2rem;

    .home-section-slide {
      width: min(100%, 40rem);
      margin: 0 auto;
      color: $white;

      .slide-cover {
        width: 100%;
        margin-bottom: 1rem;
        border-radius: 1em;
      }

      .info {
        display: flex;
        align-items: baseline;
        gap: 1.5rem;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.562);
      }

      .title {
        font-size: 1.8rem;
      }
    }
  }
}
