@use "../utils" as *;

nav {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 3rem 0;
  background: $bgContainer;

  @include desktop {
    padding: 6rem 3rem;
    align-items: start;
    border-radius: 3em;
    max-height: 50rem;
  }

  ul {
    width: min(85%, 27rem);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include desktop {
      flex-direction: column;
      justify-content: start;
      gap: 5rem;
    }

    li {
      @include desktop {
        &:first-of-type {
          margin-bottom: 5rem;
        }
      }

      &:hover {
        filter: invert(48%) sepia(61%) saturate(6434%) hue-rotate(338deg)
          brightness(106%) contrast(93%);
      }

      .selected-page {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(11deg)
          brightness(109%) contrast(101%);

        &:focus,
        &:active,
        &:hover {
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(11deg)
            brightness(109%) contrast(101%);
        }
      }
    }
  }
}
