@use "../utils/" as *;

.searchBar {
  width: $maxWidth1;
  display: grid;
  grid-template-columns: 4rem 1fr auto;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 1.5rem;
  margin-top: 2rem;

  @include desktop {
    width: 100%;
  }

  img {
    width: 100%;
  }

  input {
    background: $bgContainer;
    border-radius: 1em;
    border: none;
    font-size: 2rem;
    padding: 0.5em;
    padding-left: 1.3em;
    color: $white;
  }

  button {
    background: $blue;
    color: white;
    border: none;
    outline: none;
    border-radius: 0.5em;
    padding: 0.6em 1.2em;
    text-transform: capitalize;
    font-weight: 600;
  }
}
