@use "../utils/" as *;

.trending-container {
  margin-top: 4rem;
  margin-bottom: 5rem;

  .trending-slide {
    position: relative;
    color: $white;
    border-radius: 3rem;
    overflow: hidden;
    border: 0.2rem solid transparent;
    transition: 0.5s ease-in-out;
    cursor: pointer;

    &:hover {
      border-color: $blue;
    }

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.315);
    }

    .slide-text {
      position: absolute;
      bottom: 2rem;
      left: 3rem;

      .info {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
  }
}

// swiper
.swiper {
  overflow: visible !important;

  .swiper-slide {
    width: min(80%, 50rem) !important;
  }

  .swiper-pagination-bullet {
    background: $red;
  }

  .swiper-pagination-horizontal {
    bottom: -3rem !important;
  }
}
